.banner-container {
  display: flex;
  width: 70%;

  .wish-banner {
    color: white;
    font-size: 80px;
    background: #67009180;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0px 20px 0px 100px;
    letter-spacing: 20px;

    .sub-section {
      font-size: 26px;
      margin: 20px 0px 0px 74px;
      letter-spacing: 6px;
    }
  }
}
.form-container {
  text-align: center;
  width: 100%;
  background-color: #0000008a;
  color: #fff;
  padding: 30px 80px 50px 60px;
  min-width: 200px;
}
.side-panel {
  display: flex;
  width: 30%;
}
.login-register-link {
  padding-top: 50px;
}
.login-register-link a {
  color: #fff;
  text-decoration: none;
}

.products-container {
  display: flex;

  .filter-container {
    width: 15%;
    padding: 10px 5px;
    border-right: 1px solid #e0e0e0;
  }
  .results-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    // grid-auto-rows: 20px;
    grid-gap: 5px;
    width: 65%;
    padding: 10px 5px;

    .quantity-button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }
  }
  .cart-container {
    width: 20%;
    padding: 10px 5px;
    border-left: 1px solid #e0e0e0;
  }
}
